<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.drovik.player"
    android:versionCode="101"
    android:versionName="V1.0.1">

    <!-- normal -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许振动 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 修改音量设置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取WIFI状态 -->
    <!-- 发送粘性广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <supports-screens android:anyDensity="true"
        android:smallScreens="true" android:normalScreens="true"
        android:largeScreens="true" android:resizeable="true" />

    <application
        android:allowBackup="true"
        android:persistent="true"
        android:icon="@drawable/ic_laucher_h"
        android:label="@string/app_name"
        android:name="com.crixmod.sailorcast.SailorCast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--
            <activity
                android:name="tv.danmaku.ijk.media.example.activities.FileExplorerActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="user"
                android:theme="@style/AppTheme">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        -->

        <activity android:name="com.drovik.player.ui.HomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.drovik.player.ui.LaunchActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!--
        <activity android:name="com.drovik.player.ui.HomeActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
         -->

        <activity android:name="com.android.audiorecorder.ui.SoundRecorder"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.android.audiorecorder.ui.activity.LoginActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.android.audiorecorder.ui.FileExplorerActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.android.audiorecorder.ui.ImageViewActvity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name="com.android.audiorecorder.ui.PhoneRecordList"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.drovik.player.audio.ui.MusicActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.drovik.player.audio.ui.MusicPlayActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <service android:name="com.drovik.player.audio.mediaplayer.PlayerService" />

        <activity
            android:name="com.drovik.player.video.ui.VideoMainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!--
        <activity
            android:name="com.drovik.player.video.ui.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name="com.drovik.player.video.ui.GSYVideoPlayActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <!--  movie  -->
        <activity android:name="com.drovik.player.video.ui.MainFrameActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.drovik.player.video.ui.MovieHomeActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.drovik.player.video.ui.MovieDetailActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.crixmod.sailorcast.view.BaiduPlayerActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- start weather -->
        <activity android:name="com.drovik.player.weather.WeatherActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <!-- end weather -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.drovik.player"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.android.audiorecorder.provider.FileProvider"
            android:authorities="RecordFileProvider"
            android:multiprocess="false" >
        </provider>

        <service
            android:name="com.android.audiorecorder.provider.FileProviderService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <service android:name="com.android.audiorecorder.engine.MultiMediaService"
            android:exported="false"
            android:process=":remote">
            <intent-filter android:priority="2147483647">
                <action android:name="com.audio.Action_AudioRecord" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </service>

        <service android:name="com.android.audiorecorder.audio.MediaPlaybackService" android:exported="false" />

        <service
            android:name="com.iflytek.voiceads.update.DownloadService"
            android:stopWithTask="true" />
        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />

        <meta-data android:name="IFLYTEK_APPKEY_AD" android:value="5bd4730b" />

        <!-- start tencent -->
        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <!-- end tencent -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="18fc70965d" />

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dNkKQmlPLvbz4Xd9OPOXRTqnNd4yEQiO" />

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>

        <!--
        <activity
            android:name="com.android.drovik.video.ui.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name="tv.danmaku.ijk.media.example.activities.SampleMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="tv.danmaku.ijk.media.example.activities.RecentMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="tv.danmaku.ijk.media.example.activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme" />
        <activity
            android:name="tv.danmaku.ijk.media.example.activities.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name="tv.danmaku.ijk.media.example.services.MediaPlayerService"
            android:enabled="false"
            android:exported="false"
            android:icon="@mipic_launcher_recordercher"
            android:label="@string/app_name" >
        </service>

        -->
    </application>

</manifest>
